.wrapper {
	background-color: white;
	border-collapse: collapse;
	width: 100%;
	min-width: 1024px;
}
.header {
	border: 3px solid #333c57;
	background-image: url(../images/header_bg.png);
	background-repeat: repeat-x;
	background-position: left top;
	height: 182px;
	width: 100%;
	background-color: #FFFFFF;
}
body {
	background-color: white;
}

.header_l {
	background-image: url(../images/main_img.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 182px;
	width: 100%;
}

.header_r {
	background-image: url(../images/name.png);
	background-repeat: no-repeat;
	background-position: 65% 13px;
	width:100%;
	text-align: right;
}
#txtUname, #txtPwd {
	border: thin solid #6177BD;
}
#frmLogin label {
	color: #333C57;
}
#frmLogin {
	margin-left: 20%;
	padding-top: 10%;
}
.header_r ul {
	display: block;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.header_r li {
	display: inline-block;
	background-image: url(../images/button.png);
	height: 60px;
	width: 97px;
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 90px;
	padding-top: 30px;
	list-style-type: none;
	margin-left: 5px;
	*float:left;
	/*float:left TEMPORARY DELETE IT WHEN DONE*/
}
.header_r  a:link, .header_r a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #5F71A3;
	text-decoration: none;
	font-weight: normal;
}
.header_r  li:hover {
	background-image: url(../images/button_s.png);
}
.header_r  li:hover a{
	color: #000000;
}
.left, .right {
	width: 205px;
	margin-top: 10px;
}
.left ul, .right ul{
	margin: 0px;
	padding: 0px;
	display: block;
	list-style-type: none;
}
.left li, .right li{
	background-image: url(../images/menu.png);
	width: 155px;
	background-repeat: no-repeat;
	display: block;
	height: 30px;
	padding-top: 10px;
	padding-left: 50px;
	margin-bottom: 5px;
}
.left a, .right a {
	color: #D2DEEE;
	text-decoration: none;
}
.footer a {
	color: #D2DEEE;
	text-decoration: none;
}
.middle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: justify;
	margin-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.left li:hover, .right li:hover {
	background-image: url(../images/menu_s.png);
}
.left li:hover a, .right li:hover a {
	color: #5F71A3;
}
.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #D2DEEE;
	text-align: center;
}
