@charset "utf-8";
/* CSS Document */
* {
	padding:0;
	margin:0;
	border:none;
	border-collapse:collapse;
}
html, body {
	height: 100%;
}
body {background: #feffe8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmRiYmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #feffe8 0%, #d6dbbf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffe8), color-stop(100%,#d6dbbf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feffe8 0%,#d6dbbf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feffe8 0%,#d6dbbf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feffe8 0%,#d6dbbf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #feffe8 0%,#d6dbbf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 ); /* IE6-8 */

padding:0px;
	margin:0px;
	width: 100%;
	text-align: center;
}
#wrapper {
	width: 960px;
	text-align: left;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px auto -55px;
	position: relative;
}
#left {
	width: 230px;
	float: left;
	clear: left;
}
#content {
	margin-bottom: 10px;
	width: 940px;
	float: left;
	clear: right;
}
#main {
	overflow:visible;
	padding: 10px;
	margin-top:5px;
	padding-bottom: 55px;
	min-height: 350px;
	float:left;
	background: #ffffff;

}  /* must be same height as the footer */
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
/* header */
#top_header {
	display:block;
	float:left;
	clear:both;
	-moz-box-shadow:    0px -3px 10px 1px #0b2449;
	-webkit-box-shadow: 0px -3px 10px 1px #0b2449;
	box-shadow: 		0px -3px 10px 1px #0b2449;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	border-style: none;
	height: 200px;
	width: 960px;
	margin:auto;
	margin-top:40px;
	background: #DEE085 url(../images/main.png);
	background-repeat:no-repeat;
	background-position: 20px bottom;
}
#top_header ul {
	display: inline;
	margin:0px;
	width: 100%;
	height: 20px;
	float: left;
	text-align:right;
}
#top_header li {
	display: inline-block;
	margin-top: 1px;
	text-decoration: none;
	list-style-type: none;
	text-align: right;
}
#top_header  a:link, #top_header a:visited, #top_header ul  {
	font-family: Arial;
	font-size: 12px;
	color: #D4DFE3;
	text-shadow: 2px 2px 2px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
	font-weight: bold;
	text-decoration: none;
}
#top_header  li:hover a{
	color: #ffffff;
	text-shadow: 2px 2px 2px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
}
/* top nav*/
#top_menu {
	display:block;
	float:left;
	clear:both;
	width: 960px;
	height: 30px;
background: #a4b357; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E0YjM1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTg5MGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a4b357 0%, #75890c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4b357), color-stop(100%,#75890c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a4b357 0%,#75890c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-8 */
	-moz-box-shadow:    0px 3px 10px 1px #0b2449;
	-webkit-box-shadow: 0px 3px 10px 1px #0b2449;
	box-shadow: 		0px 3px 10px 1px #0b2449; 
}
#top_menu ul {
	display: inline;
	text-align: center;
	padding: 0px;
	margin:0px;
	width: 960px;
	height: 30px;
	float: left;
}
#top_menu li {
	display: inline-block;
	width: auto;
	height: 22px;
	padding-top:5px;
	padding-left: 38px;
	padding-right: 38px;
	margin-top: 2px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: center top;
	list-style-type: none;
	text-align: center;
	text-transform:uppercase;
	border-right: solid 1px #ffffff;
}
#top_menu li:last-child{
	border: none;
}
#top_menu  a:link, #top_menu a:visited {
	font-family: Arial;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
#top_menu  li:hover a{
	color: #ffffff;
	text-shadow: 2px 2px 2px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
}
/* content */
#article {
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0 ); /* IE6-8 */
	-moz-box-shadow:    0px 3px 10px 1px #0b2449;
	-webkit-box-shadow: 0px 3px 10px 1px #0b2449;
	box-shadow: 		0px 3px 10px 1px #0b2449;
	Padding: 15px;
	float:left;
	width: 670px;
	min-height: 618px;
}
.mainheader {
	background:url(/oie/images/newstudents.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 20px;
	padding-top: 110px;
	padding-bottom: 5px;
	float:left;
	clear:right;
	width: 630px;
	height: 47px;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
	color:#000000;
	text-shadow: -0.1em -0.01em 0.05em #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-variant: small-caps;
}
.newstudents .mainheader{
	background:url(/oie/images/newstudents.jpg);
	background-position:center top;
	background-repeat:no-repeat;
}
.contactus .mainheader{
	background:url(/oie/images/contactus.jpg);
	background-position:center top;
	background-repeat:no-repeat;
}
.maininfo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;
	border-width: thin;
	border-style: solid;
	border-color: #FF9900;
	padding: 5px;
	float:left;
	clear:right;
	width: 660px;
}
.superlink {
	font-size: 14px;
	color: #FF0000;
	text-decoration: underline;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	float:left;
	clear:right;
	width: 650px;
}
.subheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-variant:small-caps;
	margin-top: 10px;
	padding: 5px;
	padding-left: 25px;
	float:left;
	clear:right;
	width: 640px;
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
	background-position: 0px 8px;
	color: #333333;
}
.subinfo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;
	border-width: thin;
	border-style: solid;
	border-color: #cccccc;
	padding: 10px;
	float:left;
	clear:right;
	width: 650px;
	margin-top: 10px;
}
.subinfo img.maps {
	margin-left: 30px;
}
.subinfo table {
	margin:0px;
	padding:0px;
	width:100%;
	border:1px solid #000000;
}
.subinfo ul, .maininfo ul {
	padding: 20px;
	list-style-type: circle;
}
.subinfo table {
	width:640px;
	height:100%;
	margin:10px;
	padding:0px;
	float:left;
}
.subinfo tr:nth-child(odd) {
background-color:#ffaa56;
}
 .subinfo tr:nth-child(even) {
background-color:#ffffff;
}
.subinfo td {
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.subinfo th {
	background-color:#ff7f00;
	border:1px solid #000000;
	border-width:0px 1px 1px 1px;
	width: 120px;
	text-align:left;
}
.subinfo h4, .maininfo h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #CC0000;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	margin-top: 10px;
	margin-bottom: 10px;
}
#submit {
	background-color: #D95D1C;
	height: 25px;
	width: 80px;
	border: thin solid #666666;
	margin-top: 15px;
	margin-left:0px;
}
input {
	border: thin solid #CCCCCC;
}
/*footer*/
#footer {	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-style: none;
	text-align: center;
	height: 55px;
	width: 960px;
	background: #a4b357; 
	margin:auto;
	margin-top: -55px;
	position: relative;
	clear:both;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
	margin-bottom: 5px;
}
#footer span {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	color: #ffffff;
}#top_header img {
	margin-top: 20px;
	margin-left: 400px;
}
